footer{
    border-top: 2px solid rgb(223, 185, 185);
    box-shadow: 4px -2px 4px rgb(192, 166, 166);
    .footer-majo{
        color: black;
        ul{
            padding: 0px;
            font-size: 0.8rem;
        }
        .img-fluid{
            max-width: 250px;
        }
    
        .container-ico{
            display: flex;
            flex-direction: row;
            max-width: 250px;
            svg{
                color: black;
            }
        }
    }   
}


