.navbar{
    padding-top: 0px;
    background-color: transparent;
    .navbar-brand{
        display: none;
    }
    .nav-link{
        padding-top: 0%;
    }
}


.navbar-nav{
    font-size: 1.3rem;
}