
h2{
    margin-top: 50px;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}

.selecionaCompra{
    margin: auto;
    margin-top: 55px;
    font-size: 30px;
    text-align: center;
    color: black;
    
}

.contenedorCartas{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding: 5px;

    .card{   
        margin: 20px;
        padding: auto;

        border: 2px solid $ColorBorde;
        box-shadow: 4px 0px 4px rgb(192, 166, 166);
        background-color: transparent;

        .card-body{
            height: 220px;
            padding: auto;
            margin: 0px;

            .card-precio{
                font-weight: bolder;
                unicode-bidi: embed;

                
            }
        }
    }
}

.conteiner-carro{
    display: flex;
    justify-content: end;
    margin: auto;
    margin-bottom: 55px;
    padding: 5px;
        .numeroCarrito{
            font-weight: bolder;
            position: relative;
            top: -55px;
            left: 32px;
        }
}


.modal{
    color: black;
    .modal-header{
        font-weight: bold;
        font-size: 1.8rem;
    }
    .modal-body{
        font-size: 0.7rem;
        padding: auto;
    }
}

.carritoTotal{
    font-size: 1.2rem;
    font-weight: bolder;
}

.gradienteCarrito {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  $ColorPrincipal 17.8%, $ColorSecondary 100.2% );;
}

//Lista de carrito, espacio para cada div
.nombre-col {
    @include modalSeccionarCarrito(64%, left, 0%);
}

.precio-col {
    @include modalSeccionarCarrito(18%, left, 0%);
}

.cantidad-col {
    @include modalSeccionarCarrito(10%, right, 0%);
}

.boton-col {
    @include modalSeccionarCarrito(6%, right, 0%);
}

