h2{
    margin-top: 50px;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}

.selecionaCompra{
    margin: auto;
    margin-top: 55px;
    font-size: 30px;
    text-align: center;
    color: black;
    
}

.contenedorCartas{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding: 5px;

    .card{   
        margin: 20px;
        padding: auto;

        border: 2px solid rgb(223, 185, 185);
        box-shadow: 4px 0px 4px rgb(192, 166, 166);
        background-color: transparent;

        .card-body{
            height: 220px;
            padding: auto;
            margin: 0px;

            .card-precio{
                font-weight: bolder;
                unicode-bidi: embed;

                
            }
        }
    }
}

.conteiner-carro{
    display: flex;
    justify-content: end;
    margin: auto;
    margin-bottom: 55px;
    padding: 5px;
        .numeroCarrito{
            font-weight: bolder;
            position: relative;
            top: -55px;
            left: 32px;
        }
}


.modal{
    color: black;
    .modal-header{
        font-weight: bold;
        font-size: 1.8rem;
    }
    .modal-body{
        font-size: 0.7rem;
    }
}

.carritoTotal{
    font-size: 1.2rem;
    font-weight: bolder;
}

.gradienteCarrito {
    background-image: linear-gradient( 69.7deg,  rgba(244,37,243,1) 1.4%, rgba(244,87,1,1) 36.2%, rgba(255,204,37,1) 72.2%, rgba(20,196,6,1) 113% );
}


