@media screen and (min-width: 576px){    
    .navbar-nav{
        font-size: 1.6rem;
    }
    .contenedorCartas{
        max-width: 60%;
        
    }
    .conteiner-carro{
        max-width: 60%;
    }
    .modal .modal-body{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px){
    .contenedorCartas{
        max-width: 80%;
    }
    .conteiner-carro{
        max-width: 80%;
    }
}

@media screen and (min-width: 992px) {

    .navbar-nav{
        font-size: 2rem;
    }

    .titulaso h1{
        font-size: 6.5rem;
    }
    .modal .modal-body{
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 1200px){

}

