@media screen and (min-width: 576px){    
    .navbar-nav{
        font-size: 1.6rem;
    }
    .contenedorCartas{
        max-width: 60%;
        
    }
    .conteiner-carro{
        max-width: 60%;
    }
}

@media screen and (min-width: 768px){
    .contenedorCartas{
        max-width: 80%;
    }
    .conteiner-carro{
        max-width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .navbar{

    }

    .navbar-nav{
        font-size: 2rem;
    }
    //dejo este espacio para que el position:fixed en el navbar no se coma una parte del background
    // .espacio{
    //     height: 126px;
    // }

    .titulaso h1{
        font-size: 6.5rem;
    }
}


@media screen and (min-width: 1200px){

}

